html {
  height: 100%;
}
body {
  background-color: #1D1D1D;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#error {
  color: red;
  text-align: center;
}
h2, h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  -webkit-transform:scale(2,1.5); /* Safari and Chrome */
  -moz-transform:scale(2,1.5); /* Firefox */
  -ms-transform:scale(2,1.5); /* IE 9 */
  -o-transform:scale(2,1.5); /* Opera */
  text-align: center;
  color: #DE2728;
  margin: 10px;
}
.container {
  padding: 2em 3em 3em 3em;
  border-radius: 2%;
  background-color: #C7C7C7;
  margin-bottom: 2em;
  width: 14em;
}

form > input {
  border-style: solid;
  border-radius: 5%;
  border-width: thin;
  border-color: gray;
  padding: 4px;
}

form {
  display: flex;
  flex-direction: column;
}
form > * {
  font-size:16px;
  margin: 12px;
}
.form-btns {
  display: flex;
  justify-content: space-between;

}

.form-btns > * {
  color: white;
  border-radius: 7%;
  border-style: none;
  font-size:16px;
  width: 6em;
  height: 2em;
  cursor: pointer;
}
.form-btns > button, .form-btns > input {
  background-color: #DE2728;
  margin: 8px;
}
#options-btn {
  align-self: flex-start;
}
#ready-btn {
  align-self: flex-end;
}
/*#login-btn {
  background-color: #DE2728;
}
#signup-btn {
  background-color: #DE2728;
}
#back-btn {
  background-color: #DE2728;
}*/
@media only screen and (max-width: 768px) {
  .container {
    width: 20em;
  }
}

/* ==profile styling== */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h4 {
  margin-top: .75em;
  margin-bottom: 0em;
}

h5 {
  margin: .45em;
}

.form-grp {
  display: inline;
  width: 12em;
}

.form-grp > input, .form-grp > select {
  float: right;
}
.form-grp > label {
  float: left;
}
