<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Scoreboard Demo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <table class="centered striped">
      <thead>
        <tr>
          <th data-field="timestamp">Time</th>
          <th data-field="duration">Duration</th>
          <th data-field="score" colspan="2">Score</th>
        </tr>
      </thead>
      <tbody>
        {{#each games}}
        
          <tr class="table-row">
            <td class="time">{{this.timestamp}}</td>
            <td class="duration">{{this.duration}}</td>
            {{#if this.score}}
              {{#each this.score}}
                <td>{{this}}</td>
              {{/each}}
            {{else}}
              <td>N/A</td>
              <td>N/A</td>
            {{/if}}

          </tr>
        {{/each}}
      </tbody>
    </table>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script>
    $(document).ready(function(){
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal-trigger').leanModal();
    });
    </script>
  </body>
</html>
